<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/tasks" method="post">
      <input type="text" name="tasks" placeholder="tasks"/>
      <button type="submit">Submit</button>
      </form>



    {{{yield}}}
  </body>
</html>
