<!-- <form action="/tasks" method="post">
  <input type="text" name="tasks" placeholder="tasks"/>
  <button type="submit">Submit</button>
  </form>
  {{#lists}}
  <!-- <form action='/tasks'method="post">
    <input type="submit" value="" <br> -->
    <p>{{.}}</p>
{{/lists}}
